body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bc.jpg') center/cover no-repeat;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.dato-editar {
    display: flex;
    align-items: center;
}

.dato-actual {
    margin-right: 10px;
    color: gray;
}

button {
    background-color: #1c3d6c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0e1e34;
}

.botones-container {
    text-align: center;
}
h3{
    font-family: Arial, sans-serif; 
    justify-content: center;
}
